body {
    height: 100vh;
    margin: 0;
    background: #0E0610;
    overflow: hidden;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    color: #E56726;
}
h1, h2 {    
    color: #E56717;
}
h1 {
    text-align: center;
    font-weight: normal;
    font-size: 1.5em;
    border-top: 1px solid #57b1dc;
    margin-top: 30px;
}
h2 {
    font-size: 1em;
}
div.column {
    width: 32%;
    height: 70%;
    display: inline-block;
    box-sizing: border-box;
    padding: 2px;
    background-color: #151B54;
    vertical-align: top;
    margin: 0.4%;
}

#footer {
    height: calc(30% - 22px);
    border: 1px solid black;
    margin-top: 4px;
    background-color: #151B54;
    /*box-shadow: 5px 5px 5px #7D1B7E;*/
}


select {
    width: 100%;
    -webkit-user-select: none;
}

div#current-artist {
    color: #E56726;
    font-size: 2.1em;
}

div#current-album {
    font-size: 1.5em;
}

img {
    width: 75%;
}

div#dose-letters {
    width: 70%;
}

div#footer > div {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div#dose-controlles-doe {
    width: 29%;
}

div#dose-letters span {
    width: 50px;
    height: 30px;
    background: #0d4637;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 30px;
}

div#dose-controlles-doe > span {
    background: chocolate;
    color: whitesmoke;
    margin: 10px;
    padding: 5px;
    display: inline-block;
}

div#dose-controlles-doe > span:first-child {
    width: 80%;
}

div#dose-controlles-doe input {
    margin: 0 auto;
    display: block;
}

#footer span {
    cursor: pointer;
}
#current-lyrics {
    font-size: 0.8em;
    overflow: auto;
    height: 250px;
    margin-top: 15px;
}


div#modalContainer {
    position: absolute;
    top: 0;
    width: 100%;
    lefT: 0;
}

div#searchResults {
    width: 900px;
    margin: 0 auto;
    margin-top: 10%;
    background: #F1F0FF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 14px -3px rgba(0, 0, 0, 0.39);
}

div#searchResults ul {
    margin: 0;
    padding: 0;
}
div#searchResults li > * {
    display: inline-block;
    vertical-align: top;
}
div#searchResults li {
    list-style:none;
}
div#searchResults .li-heading {
    background: #DEDEDE;
    color:black;
    margin-top:5px;
    width: 290px;
}
.found-text {
    background: #FFE8C5;

}
.hidden {
    display: none;
}